/* body {
    background-color: purple;
}

#title {
    height: 150px;
    width: 300px;  
    background-color: white;
    margin: 0 auto;
}

#instructions {
    margin: 0 auto;
} */
#game {
    width: 75%;
    padding-top: 50px;
    padding-left: 33%;
}
h1 {
    font-size: 25px;
    padding-bottom: 10px;
}
div {
    padding-bottom: 10px;
}
p {
    /* background-color: purple; */
    padding: 15px 15px 0px 15px;
    display: inline;
}

img {
    width: 400px;
    height: 285px;
}

.credit {
    font-size: 10px;
}
body {
    width: 80%;
    margin: 0 auto;   
    background-image: url(../images/backgroundImage.jpg);
    /* Photo by David Besh from Pexels */
    background-repeat: no-repeat; 
    background-attachment: scroll;
    background-size: cover;
    color: #ffffff
}