/* body {
    background-color: purple;
}

#title {
    height: 150px;
    width: 300px;  
    background-color: white;
    margin: 0 auto;
}

#instructions {
    margin: 0 auto;
} */

p {
    /* background-color: purple; */
    padding: 15px 15px 0px 15px;
    display: inline;
}

img {
    width: 400px;
    height: 285px;
}

